* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #f4f6f9;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  background-color: #86dbf5;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
}
.hero-text {
  margin-bottom: 10px;
}

.example-inline {
  display: inline;
  background-color: #e2e8f0;
  padding: 2px 6px;
}

.btn-inline-block {
  display: inline-block;
  background-color: #0284c7;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.btn-full-width {
  display: block;
  width: 100%;
  background-color: #247afa;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transition: 2s;
  cursor: pointer;
}
.btn-full-width a:hover {
  background-color: #ff0101;
}

.form-section {
  background-color: #f5fdff;
  padding: 40px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid;
}

.form-grid {
  display: grid;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.full-row {
  grid-column: span 2;
}

input[type="text"],
input[type="email"] {
  max-width: 1100px;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  gap: 15px;
}

.btn-submit {
  width: 100%;
  background-color: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.info-section {
  gap: 30px;
  align-items: center;
  background-color: #4e9ae0;
  padding: 40px;
  border-radius: 8px;
}
.info-title {
  margin-bottom: 2rem;
  color: var(--nav-text-color);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  gap: 1.5rem;
}
.info-card {
  padding: 1.5rem 1.25rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid;
  max-height: 140px;
  background-color: white;
}
.info-card-Te {
  padding: 1.5rem 1.25rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid;
  max-height: 140px;
}
.info-card-TE h3 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.info-card-Te p {
  font-size: 0.9rem;
  color: var(--sub-text-color);
}

.info-blue {
  background-color: #e0f2fe;
}
.info-blue h3 {
  color: #1e40af;
}

.info-purple {
  background-color: #f3e8ff;
}
.info-purple h3 {
  color: #6b21a8;
}

.info-green {
  background-color: #dcfce7;
}
.info-green h3 {
  color: #166534;
}

@media (max-width: 1100px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .navbar {
    align-items: none;
    grid-template-columns: 1fr;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .nav-links {
    display: grid;
  }
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .info-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer {
  padding-block: 1.25rem;
  background-color: #1e293b;
  color: white;
  margin-top: 1.5rem;
  display: flex;
}
